<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Patients" connectionString="Server=.;Database=patients;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
		<add name="Users" connectionString="Server=.;Database=users;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>